.all_items{
    display: flex;
    
}

.all_products{
    padding: 27px;
    margin-left: 5px;
}


.product_results{
    margin-bottom: 14px;
}

.amazon_ad{
    margin-top: 20px;
    width: 80%;
    height: 260px;
}

p{
    margin-bottom: 49px;
}