.catergories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 10px;
    padding: 20px;
    width:100%;
    max-width: 500px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.788);
    z-index: 1;

}

.catergories_info{
    color: #0F1111;;
    text-align: left;
    margin-bottom: 22px;
}

.shop_now:hover{
    text-decoration: underline;
    color: rgb(238, 13, 13);

}

.catergories img {
    max-height: 490px;
    width: 100%;
    object-fit: contain;

}

.shop_now{
    color: rgb(48, 162, 182);
}